<div class="row">
    <div class="col-md-4">
        <img class="profile" src="/img/profilo_ester.jpg">
        <h1 class="artfont">Ester Menniti</h1>
    </div>
    <div class="col-md-8">
        <h1>CONTATTAMI</h1>
        <p>Puoi contattarmi tramite email o tramite la mia pagina facebook</p>

        <p>E-Mail: <a href="mailto:ester.menniti@gmail.com">ester.menniti@gmail.com</a></p>
        <p>Facebook: <a href="https://www.facebook.com/fotobeg">https://www.facebook.com/fotobeg</a></p>
    </div>
</div>