
<div class="row">
    <div class="col-md-4">
        <img class="profile" src="/img/profilo_ester_2.jpg">
        <h1 class="artfont">Ester Menniti</h1>
    </div>
    <div class="col-md-8">
        <p>
        34 anni</p>
        <p>diploma magistrale</p>
        <p>specializzata in problematiche socio educative</p>
        <p>fotografa freelance</p>

        <p>
        Appassionata di fotografia da sempre
        dal 2008 la nascita dei miei tre figli mi dà movente e opportunità.
        </p>
        <p>La mia foto perfetta racconta l’emozione di un momento di un volto
        è equilibrata, armoniosa, luminosa.</p>
        <p>La mia ambizione?
        rendere soddisfatti i miei clienti
        donare loro una foto
        che ne ha catturato il lato migliore
        svelato la bellezza
        capito il gusto
        che mi ha resa loro complice
        nella ricerca e nell’invenzione di quello scatto
        di cui andranno fieri.
        </p>
    </div>
</div>